.container {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.content {
	width: 100%;
	height: 100%;
}

.navbar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	min-width: 200px;
	max-width: 200px;
	padding: 16px;
	background: var(--secondary-container);
	border-right: 2px solid var(--secondary-container);

	&Header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 24px;
		cursor: pointer;
	}

	&Content {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 4px;
	}

	&Footer {
		display: flex;
		flex-direction: column;
		gap: 4px;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
}

.menuItems {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 16px;
	gap: 8px;

	&FavoritePages {

	}

	&PublicPages {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
}

.createPageContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.profileBadge {
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
	text-decoration: none;
	width: 100%;
	text-wrap: auto;
}

.createIcon {
	display: flex;
	width: 24px;
	height: 24px;
	justify-content: center;
	align-items: center;
}

.pagesLabel {
	font-size: 14px !important;
	opacity: 0.5;
}