@import "src/styles/variables";

.container {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	width: min(900px, 100%);
	gap: 24px;
	padding: 48px 32px;
}

.header {
	display: flex;
	flex-direction: column;
	gap: 6px;

	h3 {
		color: var(--text);
	}

	p {
		color: var(--gray);
		font-size: 14px;
	}
}

.cards {
	width: 100%;
	gap: 16px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	justify-content: start;

	@include scrollbar;
}

.workspaceCard {
	background: var(--secondary-container);
	padding: 16px;
	border-radius: 8px;
	border: 1px solid var(--teriary-container);
	min-height: 120px;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	gap: 8px;

	&:hover {
		background: var(--teriary-container);
		border-color: var(--gray);
	}
}

.workspaceName{
	display: flex;
	flex-direction: column;
	gap: 4px;

	h5{
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
	}
}

.createCard {
	background: transparent;
	border: 1px dashed var(--gray);
	border-radius: 8px;
	min-height: 120px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 8px;

	p {
		color: var(--gray);
		font-size: 14px;
	}

	&:hover {
		background: var(--secondary-container);
		border-color: var(--text);
	}
}

.createIcon {
	width: 36px;
	height: 36px;
	border-radius: 10px;
	background: var(--secondary-container);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text);
	border: 1px solid var(--teriary-container);
}