@import "src/styles/global";

.editorjs {
	font-family: "noto-sans", system-ui;
	box-sizing: border-box;
	position: relative;
	color: var(--text);

	.ce-block__content,
	.ce-toolbar__content {
		background: #1e1e1e;
	}

	.cdx-block {
		color: var(--text);
	}

	.ce-toolbar__plus,
	.ce-toolbar__settings-btn {
		background: var(--secondary-container);
		color: var(--text);
	}

	.ce-inline-toolbar,
	.ce-settings {
		color: var(--text);
		background: var(--teriary-container);
	}

	input, textarea {
		background: var(--secondary-container);
		color: var(--text);
		border-color: var(--teriary-container);
	}

	a { color: #58a6ff; }
}
