.primaryButton {
	background: var(--secondary-container) !important;
	border: 1px solid var(--teriary-container);

	p {
		color: var(--text);
		font-size: 16px;
		text-align: center;
	}

	&:hover{
		background: var(--teriary-container);
		border-color: var(--gray);

		p{
			color: var(--text);
		}
	}
}